

<p class="home-header">מחפשים דרך להתגבש? לצאת מהשיגרה המפרכת? יש לנו פיתרון בשבילכם!
</p>
<div class=" col-md-6 home-video embed-responsive embed-responsive-16by9" >
    <div class="home-video-header-text">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/zpOULjyy-n8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
</div>

<div class="slider">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="inner-slide">
                    <img src="../../img/birthday.png" alt="">
                    <p>TEXT TEXT TEXT TEXT</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="inner-slide">
                    <img src="../../img/birthday.png" alt="">
                    <p>TEXT TEXT TEXT TEXT</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="inner-slide">
                    <img src="../../img/sport.png" alt="">
                    <p>TEXT TEXT TEXT TEXT</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="inner-slide">
                    <img src="../../img/idf.png" alt="">
                    <p>TEXT TEXT TEXT TEXT</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="inner-slide">
                    <img src="../../img/company.png" alt="">
                    <p>TEXT TEXT TEXT TEXT</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="inner-slide">
                    <img src="../../img/school.png" alt="">
                    <p>TEXT TEXT TEXT TEXT</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>


<div>
    <p class="home-header">ברצלונה הספיקו לשחק, מה איתכם?</p>
    <div>

    </div>
</div>

<!-- <div class="raw photo-gallery">
    <div class="col-md-1"></div>
     <div class="col-md-10">
        <a href="#" class="light-box"><img class="thumb" src="../../img/company.png"/>
            <p class="photo-gallery-description">The saga continues</p>
        </a>
        
        <a href="#" class="light-box"><img class="thumb" src="../../img/company.png"/>
            <p class="photo-gallery-description">Fun in the sun</p>
        </a>
        
        <a href="#" class="light-box"><img class="thumb" src="../../img/company.png"/>
            <p class="photo-gallery-description">The collection</p>
        </a>
        <a href="#" class="light-box"><img class="thumb" src="../../img/company.png"/>
            <p class="photo-gallery-description">The collection</p>
        </a>
     </div>
    <div class="col-md-1"></div>
     
  
   
</div> -->

<script>
    var mySwiper = new Swiper('.swiper-container', {
            // Optional parameters
            loop: true,
            slidesPerView: 3,
            spaceBetween: 10,
            autoplay: {
                delay: 5000
            },

            // If we need pagination
            pagination: {
                el: '.swiper-pagination',
            },

            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },

        })
</script>