

<p class="home-header">מחפשים דרך להתגבש? לצאת מהשיגרה המפרכת? יש לנו פיתרון בשבילכם!
</p>
<div class=" col-md-6 home-video embed-responsive embed-responsive-16by9" >
    <div class="home-video-header-text">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/zpOULjyy-n8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
</div>

<!-- Slider main container -->
<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
            <img src="../../img/birthday.png" alt="">
        </div>
        <div class="swiper-slide">
            <img src="../../img/company.png" alt="">
        </div>
        <div class="swiper-slide">
            <img src="../../img/idf.png" alt="">
        </div>
        ...
</div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

</div>